streamlit

langchain
langchain-core
langchain-community
langchain-huggingface
langchain-chroma
langchain-groq

chromadb
faiss-cpu

pypdf

sentence-transformers
transformers
accelerate

huggingface_hub

markdown

torch

python-dotenv